<div
    {% for attr, value in this.dataAttributes %}
        {{ attr }}="{{ value }}"
    {% endfor %}
    {% for attr, value in this.controllerAttributes %}
        {{ attr }}="{{ value }}"
    {% endfor %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
